.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  background-color: #f9f9f9;

  .card-header {
    display: flex;
    font-size: large;
    justify-content: space-between;
  }

  .chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .chip {
      background-color: #c6eeee;
      color: rgb(3, 58, 58);
      border-radius: 14px;
      padding: 8px 8px;
      font-size: 12px;
      display: inline-block;
    }

    .chip strong {
      font-weight: bold;
    }
  }

  .approvalButtons {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    .rejectButton,
    .approveButton,
    .completeButton {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .rejectButton {
      background-color: #ff4d4d;
      color: white;
    }

    .rejectButton:hover {
      background-color: #e60000;
    }

    .approveButton {
      background-color: #4caf50;
      color: white;
    }

    .approveButton:hover {
      background-color: #45a049;
    }

    .completeButton {
      background-color: #008cba;
      color: white;
    }

    .completeButton:hover {
      background-color: #007bb5;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 15px;
  }

  .card-footer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
}

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 700;
  flex-direction: column;

  .newButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #e6ab53;
    color: white;
    margin-top: 20px;
  }

  .filterButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
.remarks-text {
  margin-top: 15px;
  width: 100%;
  height: max-content;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
}
