.card {
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(255, 255, 255);
    color: #000000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 16px;
    display: block;

    .card-header {
        border-bottom: 1px solid rgba(22, 9, 9, 0.2);
        margin-bottom: 5px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;

        .approvalButtons {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            font-size: 18px;

            .rejectButton {
                background-color: #ff4d4d;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            .rejectButton:hover {
                background-color: #e60000;
                /* Darker red on hover */
            }

            .approveButton {
                background-color: #4CAF50;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            .approveButton:hover {
                background-color: #45a049;
            }

            .completeButton {
                background-color: #008CBA;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            .completeButton:hover {
                background-color: #007bb5;
            }
        }
    }

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.card-content {
    margin: 12px 6px;
    font-size: 18px;
    color: #000000;

    .details-section {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 10px;

    }

    .full-width-content {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}